[submodule "wda"]
	path = wda
	url = https://github.com/mkroetzsch/wda.git
[submodule "wikiglobe"]
	path = wikiglobe
	url = https://github.com/vrandezo/wikiglobe.git
[submodule "wikidata-analysis"]
	path = wikidata-analysis
	url = https://github.com/vrandezo/wikidata-analysis.git