h1 { color: white; margin: 1em 0em 1em 0em }
body { color: white; background-color: black }
a { color: white }
a:link { color: white }
a:visited { color: white }
a:hover { color: white }
a:active { color: white }
#detailsdiv { 
	position: absolute;
	left: 3em;
	top: 3em;
	border: 1px solid white;
	background-color: black;
	padding: 0.5em;
	display: none;
}